/debian/*.debhelper
/debian/*.substvars
/debian/.debhelper/
/debian/config-dlitz-apt-aptly/
/debian/config-dlitz-apt-bookworm-backports/
/debian/config-dlitz-apt-bullseye-backports/
/debian/debhelper-build-stamp
/debian/files
/debian/tmp/
/sources.list.d/bookworm-backports-dlitz.sources
/sources.list.d/bullseye-backports-dlitz.sources
/sources.list.d/dlitz-aptly.sources
