Source: config-dlitz-apt
Section: admin
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 config-dlitz-keyrings,
 gnupg,
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/dlitz/config-dlitz-apt
Vcs-Git: https://github.com/dlitz/config-dlitz-apt.git

Package: config-dlitz-apt-aptly
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-keyrings,
Description: Apt sources for dlitz-aptly repo
 This package will install
 /etc/apt/sources.list.d/dlitz-aptly.sources

Package: config-dlitz-apt-bullseye-backports
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-keyrings,
Description: Apt sources for bullseye-backports-dlitz repo
 This package will install
 /etc/apt/sources.list.d/bullseye-backports-dlitz.sources

Package: config-dlitz-apt-bookworm-backports
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-keyrings,
Description: Apt sources for bookworm-backports-dlitz repo
 This package will install
 /etc/apt/sources.list.d/bookworm-backports-dlitz.sources

Package: config-dlitz-apt-trixie-backports
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-keyrings,
Description: Apt sources for trixie-backports-dlitz repo
 This package will install
 /etc/apt/sources.list.d/trixie-backports-dlitz.sources
